main {
  width: 100%;
  margin: 0 auto;
}

.main-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: start;
}

.main-grid h3 {
  text-align: left;
  margin-top: 15rem;
  padding: 2rem 1rem 1rem 1rem;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  border-radius: 10px;
  width: 380px;
}

.text-box span {
  color: blue;
  font-weight: bold;
  background: transparent;
  text-decoration: none;
}

.text-box {
  position: relative;
}

.dots {
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 50%;
  top: 2%;
  left: 10%;
}

.dots:nth-child(1) {
  background-color: #ff605c;
  margin: 0 0.75rem;
}
.dots:nth-child(2) {
  background-color: #ffbd44;
  margin: 0 2.3rem;
}
.dots:nth-child(3) {
  background-color: #00ca4e;
  margin: 0 -0.75rem;
}

.main-grid img {
  max-width: 100%;
  -webkit-animation: floating 4s linear infinite;
  animation: floating 4s linear infinite;
}

.main-grid img:first-child {
  margin-top: 2rem;
}

.main-grid img:last-child {
  margin-top: 25rem;
}

@-webkit-keyframes floating {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }
}

@keyframes floating {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-1.5rem);
    transform: translateY(-1.5rem);
  }
}

@media screen and (max-width: 690px) {
  .main-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
  }

  .main-grid img:first-child {
    margin-top: 1rem;
  }

  .main-grid img:last-child {
    margin-top: 1rem;
  }

  .main-grid h3 {
    font-size: 1.5rem;
    text-align: left;
    margin-top: -2rem;
    z-index: 1;
  }
}

@media screen and (max-width: 1024px) {
  .main-grid h3 {
    font-size: 1.3rem;
    text-align: left;
  }
}
